@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* To Be Prepared Later */
  /* :root { */
  /* } */
  .dark {
    --background: #0b0b0b;
    --foreground: #f5f5f7;
    --primary: #0071e3;
    --border: #424245;
    --card: #141414;
    --muted: #252525;
    --muted-foreground: #a9a9a9;
    --destructive: #ff453a;
    --success: #13aa52;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: 5px;
  scrollbar-color: hsl(var(--muted-foreground)) hsl(var(--accent));
}

/* Works on Brave, Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
@media screen and (max-width: 768px) {
  *::-webkit-scrollbar {
    height: 0px;
  }
}

*::-webkit-scrollbar-track {
  background: hsl(var(--accent));
  padding: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
